table {
    border-collapse: collapse;
    width: 80%;
    margin:200px;

}

th {
    text-align: left;
    padding: 8px;
    font-size:30px;
    background-color:green ;
    color:white;
}
td{
    font-size:30px;
}
tr:nth-child(even) {
    background-color:lightgrey ;
    
}